name: Deploy to Server

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install sshpass
        run: |
          sudo apt-get update
          sudo apt-get install -y sshpass

      - name: Deploy to server
        run: |
          sshpass -p "${{ secrets.SERVER_PASSWORD }}" ssh -vvv -p ${{ secrets.SERVER_PORT }} -o StrictHostKeyChecking=no -o IdentitiesOnly=yes ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_IP }} "
            ls -la &&
            cd /root/website/ristek-landing-page &&
            rm -rf node_modules &&
            rm -rf dist &&
            nvm use 22 &&
            git checkout main &&
            git pull &&
            npm install &&
            npm run build &&
            pm2 stop ristek-landing-page &&
            pm2 del ristek-landing-page &&
            pm2 save &&
            npm run pm2:start
          "